<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<!--     
    namespace：必须与对应的接口全类名一致  UserMapper.java  
    id ：必须与对应接口的某个对应的方法名一致即必须要和UserMapper.java接口中的方法同名。  
 -->    
 <mapper namespace="com.assets.dao.booksrepairMapper">  
	    <insert id="save" parameterType="booksrepair">  
			INSERT INTO booksrepair(did, damager,damagedate, damageremarks,repairdate,repairer,repairremarks,status,crtm,mdtm) 
			VALUES (#{did}, #{damager}, #{damagedate}, #{ damageremarks}, #{repairdate}, #{repairer}, #{repairremarks}, #{status}, #{crtm}, #{mdtm});       
	    </insert>  
	      
	    <update id="update" parameterType="booksrepair">     
	   		update booksrepair set
	   		did=#{did}, 
	   		damager=#{damager},
	   		damagedate=#{damagedate},
	   		damageremarks=#{damageremarks},
	   		repairdate =#{repairdate },
	   		repairer=#{repairer}, 
	   		repairremarks =#{ repairremarks },
	   		status=#{status},
	   		crtm=#{crtm},
	   		mdtm=#{mdtm}
	   		where id =#{id }     
	    </update>   
	      
	    <delete id="delete" parameterType="int">    
	        delete from booksrepair where id =#{id } and status!=1
	    </delete>    
	     
	    
	    
	     <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路径 -->      
	    <select id="findById" parameterType="int" resultType="booksrepair">    
	        select * from booksrepair where id = #{id } 
	    </select>    
	    
     <select id="getbooksAll"  parameterType="int" resultType="books">
        select books.code,books.did,bookstype.name from books,bookstype 
		where books.dtid=bookstype.dtid and books.status=1
		<if test="_parameter!=1">
           and  oid = #{_parameter}
         </if>
     </select>
     
     <select id="findAll" parameterType="int" resultType="booksrepair">
        select booksrepair.*,books.code as code_S,bookstype.name from books,bookstype,booksrepair 
		where books.dtid=bookstype.dtid and books.did=booksrepair.did
		<if test="_parameter!=1">
           and  oid = #{_parameter}
         </if>
     </select>
     <update id="setStatus" parameterType="booksrepair">
         update books set status=#{status} where did= #{did} 
     </update>
     
     
      <update id="setreurn" parameterType="booksrepair">
         update booksrepair set 
         repairdate=#{repairdate}
         ,repairer=#{repairer}
         ,status=#{status} 
         ,repairremarks=#{repairremarks}    
         where id= #{id}
     </update>
 </mapper>  