<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<!--     
    namespace：必须与对应的接口全类名一致  UserMapper.java  
    id ：必须与对应接口的某个对应的方法名一致即必须要和UserMapper.java接口中的方法同名。  
 -->    
 <mapper namespace="com.assets.dao.carreceiveMapper">  
	    <insert id="save" parameterType="carreceive">  
			INSERT INTO carreceive(did, code,recipients, receivedate,returndate,status,rcremarks,rtremarks,crtm,mdtm) 
			VALUES (#{did}, #{code}, #{recipients}, #{ receivedate}, #{returndate}, #{status}, #{rcremarks}, #{rtremarks}, #{crtm}, #{mdtm});       
	    </insert>  
	      
	    <update id="update" parameterType="carreceive">     
	   		update carreceive set did=#{did}, 
	   		code=#{code},
	   		recipients=#{recipients},
	   		receivedate=#{receivedate},
	   		returndate =#{returndate },
	   		status=#{status}, 
	   		rcremarks =#{ rcremarks },
	   		rtremarks=#{rtremarks},
	   		crtm=#{crtm},
	   		mdtm=#{mdtm}
	   		where id =#{id }     
	    </update>   
	      
	    <delete id="delete" parameterType="int">    
	        delete from carreceive where id =#{id } and status!=1
	    </delete>    
	     
	    
	    
	     <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路径 -->      
	    <select id="findById" parameterType="int" resultType="carreceive">    
	        select * from carreceive where id = #{id } 
	    </select>    
	    
     <select id="getcarAll"  parameterType="int" resultType="car">
        select car.code,car.did,cartype.name from car,cartype 
		where car.dtid=cartype.dtid and car.status=1
		<if test="_parameter!=1">
           and  oid = #{_parameter}
         </if>
     </select>
     
     <select id="findAll" parameterType="int" resultType="carreceive">
        select carreceive.*,car.code as code_S,cartype.name from car,cartype,carreceive 
		where car.dtid=cartype.dtid and car.did=carreceive.did
		<if test="_parameter!=1">
           and  oid = #{_parameter}
         </if>
     </select>
     <update id="setStatus" parameterType="carreceive">
         update car set status=#{status} where did= #{did} 
     </update>
     
     
      <update id="setreurn" parameterType="carreceive">
         update carreceive set 
         returndate=#{returndate}
         ,status=2 
         ,rtremarks=#{rtremarks}    
         where id= #{id}
     </update>
 </mapper>  